{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 m-auto mt-5" style="width: 200px">
                <div class=" mx-auto mt-5" style="width: 200px">
                    <h4>
                    <br>
                        <a href="" class="mt-5 shop-now-button btn btn-md rounded-1 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}